.img-showcase img {
    max-height: 400px;
    width: auto;
    margin: auto;
    display: block;
  }
  
  .thumbnail {
    max-height: 100px;
    width: auto;
    margin: auto;
    display: block;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .car-imgs {
    max-width: 600px;
  }
  
  .car-content {
    max-width: 400px;
    margin-left: 20px;
  }
  